<%@ page contentType="text/html;charset=UTF-8" language="java" isELIgnored="false" %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${pageContext.request.contextPath}/css/layui.css">
    <title>类别添加</title>
    <style>
        .wrapper{
            width: 500px;
            height: 400px;
            margin: 100px auto;

        }
    </style>
</head>
<body>
    <div class="wrapper">
        <form action="${pageContext.request.contextPath}/typeUpdateServlet" method="post">
            <div class="layui-form-item">
                <input type="hidden" name="type_id" value="${requestScope.type.typeId}">
                <label class="layui-form-label">列表名称</label>
                <div class="layui-input-block">
                  <input type="text" onchange="changeText()" name="type_name" lay-verify="title" autocomplete="off"
                         placeholder="请输入类别名称" class="layui-input" value="${requestScope.type.typeName}">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">类别描述</label>
                <div class="layui-input-block">
                  <textarea placeholder="请输入内容" name="type_desc" class="layui-textarea"
                            onchange="changeText()">${requestScope.type.typeDesc}</textarea>
                </div>
              </div>
              <div style="width: 216px; margin: 0 160px;">
                <button type="submit" class="layui-btn layui-btn-fluid layui-btn" onclick="return check()">立即修改</button>
              </div>
        </form>
    </div>
</body>
<script>
function changeText(){
    // title = document.getElementById("main").contentWindow.document.getElementsByName("title")[0].innerText
    // desc = document.getElementById("main").contentWindow.document.getElementsByName("desc")[0].innerText
    title = document.getElementsByName("title")[0].value;
    desc = document.getElementsByName("desc")[0].value;
    if (title !== "" && desc !== ""){
        document.getElementsByTagName("button")[0].className = "layui-btn layui-btn-fluid"
    }else{
        document.getElementsByTagName("button")[0].className = "layui-btn layui-btn-fluid layui-btn-disabled"
    }
}
function check(){
    title = document.getElementsByName("title")[0].value;
    desc = document.getElementsByName("desc")[0].value;
    if (title.length >= 16){
        alert("类别名称过长！")
        return false
    }else if(desc.length >= 40){
        alert("类别描述过长!")
        return false
    }else{
        return true
    }
}
</script>
</html>
