<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="link(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}"></title>
    <script th:src="@{/js/vue.js}"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 引入组件库 -->
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="shortcut icon" th:href="@{icon/duck.ico}">
</head>


</html>